* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.calcolatrice {
    width: 300px;
    padding: 70px 15px 15px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .7);
}

/* Contenitore del display */
.display-container {
    height: 80px;
    background-color: none;
    border-radius: 10px;
    margin-bottom: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Display (input) */
#display {
    width: 100%;
    background: none;
    border: none;
    font-size: 2.5em;
    color: white;
    text-align: right;
    outline: none;
    cursor: default;
    font-family: "Arial", sans-serif;
}

/* Tastiera */
.tastiera {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.riga {
    display: flex;
    gap: 10px;
}

/* Bottoni */
button {
    flex: 1;
    height: 60px;
    font-size: 1.5em;
    color: white;
    background-color: #777;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Bottoni speciali */
button.arancione {
    background-color: #ff9500;
}

button.arancione:hover {
    background-color: #e08a00;
}

button.grigio {
    background-color: #999;
}

button.grande {
    flex: 2;
    border-radius: 30px;
    background-color: #777;
}

button:hover {
    background-color: #666;
}

button.grande2 {
    flex: 2;
    border-radius: 30px;
    background-color: #999;
}

button.grigio:hover, .grande2:hover {
    background-color: #777;
}